In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
data = pd.read_csv("WHO-COVID-19-global-daily-data.csv")
data

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-04,AI,Anguilla,AMR,NaN,0,NaN,0
1,2020-01-04,AZ,Azerbaijan,EUR,NaN,0,NaN,0
2,2020-01-04,BD,Bangladesh,SEAR,0.0,0,0.0,0
3,2020-01-04,BB,Barbados,AMR,NaN,0,NaN,0
4,2020-01-04,BR,Brazil,AMR,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...
447355,2025-02-09,TJ,Tajikistan,EUR,NaN,17786,NaN,125
447356,2025-02-09,SY,Syrian Arab Republic,EMR,NaN,57423,NaN,3163
447357,2025-02-09,LK,Sri Lanka,SEAR,NaN,672812,NaN,16907
447358,2025-02-09,SN,Senegal,AFR,NaN,89321,NaN,1972
447359,2025-02-09,SB,Solomon Islands,WPR,NaN,25954,NaN,199

In [3]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 447360 entries, 0 to 447359
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      447360 non-null  object
 1   Country_code       445496 non-null  object
 2   Country            447360 non-null  object
 3   WHO_region         447360 non-null  object
 4   New_cases          208549 non-null  float64
 5   Cumulative_cases   447360 non-null  int64
 6   New_deaths         209492 non-null  float64
 7   Cumulative_deaths  447360 non-null  int64
dtypes: float64(2), int64(2), object(4)
memory usage: 27.3+ MB
None

In [4]:
# Summary statistics
print(data.describe(include='all'))

       Date_reported Country_code   Country WHO_region     New_cases  \
count         447360       445496    447360     447360  2.085490e+05
unique          1864          239       240          7           NaN
top       2025-02-09           AI  Anguilla        EUR           NaN
freq             240         1864      1864     115568           NaN
mean             NaN          NaN       NaN        NaN  3.727591e+03
std              NaN          NaN       NaN        NaN  4.877001e+04
min              NaN          NaN       NaN        NaN -6.507900e+04
25%              NaN          NaN       NaN        NaN  3.000000e+00
50%              NaN          NaN       NaN        NaN  6.100000e+01
75%              NaN          NaN       NaN        NaN  6.860000e+02
max              NaN          NaN       NaN        NaN  6.966046e+06

        Cumulative_cases     New_deaths  Cumulative_deaths
count       4.473600e+05  209492.000000       4.473600e+05
unique               NaN            NaN                NaN
top                  NaN            NaN                NaN
freq                 NaN            NaN                NaN
mean        1.932190e+06      33.837841       2.093561e+04
std         8.207983e+06     208.726492       8.460992e+04
min         0.000000e+00   -3520.000000       0.000000e+00
25%         5.516000e+03       0.000000       3.500000e+01
50%         5.216400e+04       0.000000       6.670000e+02
75%         6.122098e+05       7.000000       7.572000e+03
max         1.034368e+08   44047.000000       1.216819e+06

In [5]:
# Count missing values in each column
print(data.isnull().sum())

Date_reported             0
Country_code           1864
Country                   0
WHO_region                0
New_cases            238811
Cumulative_cases          0
New_deaths           237868
Cumulative_deaths         0
dtype: int64

In [ ]:
# Drop rows where Country_code is missing
data = data.dropna(subset=["Country_code"])

In [ ]:

# Fill missing values for New_cases and New_deaths with 0
data = data.copy()  # Ensure it's a copy before modification
data["New_cases"] = data["New_cases"].fillna(0)
data["New_deaths"] = data["New_deaths"].fillna(0)

In [13]:
# Verify that missing values are handled
print(data.isnull().sum())

Date_reported        0
Country_code         0
Country              0
WHO_region           0
New_cases            0
Cumulative_cases     0
New_deaths           0
Cumulative_deaths    0
dtype: int64